<!DOCTYPE html>
<html>
[@le.head]
[/@le.head]

<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>403</h1>
        <h3 class="font-bold">您没有权限！</h3>

        <div class="error-desc">
            抱歉，您还未获取此权限，请联系管理员~
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="text" id="searchvalue" class="form-control" placeholder="请输入您需要查找的内容 …">
                </div>
                <input type="button" class="btn btn-primary" onclick="serarch()" value="搜索"/>
            </form>
        </div>
    </div>
     <script>
     	function serarch(){
     		location.href = "https://www.baidu.com/s?wd="+$("#searchvalue").val();
     	}
     </script>
</body>
</html>
