<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.base.mapper.LuckyUserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.le.base.entity.LuckyUser">
        <result column="id" property="id" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="no" property="no" />
        <result column="activityName" property="activityName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_date, modify_date,
        name, phone, address, no
    </sql>
    <select id="selectLuckyDog" resultType="com.le.base.entity.LuckyUser">
        select u.*,r.name as activityName
        from  biz_lucky_user as u
        join biz_lucky_rule as r
        on u.rule_id=r.id
        <where>
            <if test="search.name!=null and search.name!=''">
              and u.name like CONCAT ('%',#{search.name},'%')

            </if>

            <if test="search.phone!=null and search.phone!=''">
                and u.phone like  CONCAT (#{search.phone},'%')
            </if>


        </where>


    </select>
</mapper>
