<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.base.mapper.LuckyRuleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.le.base.entity.LuckyRule">
        <result column="id" property="id" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="limit_begin_date" property="limitBeginDate" />
        <result column="limit_end_date" property="limitEndDate" />
        <result column="begin_date" property="beginDate" />
        <result column="end_date" property="endDate" />
        <result column="limit_min_price" property="limitMinPrice" />
        <result column="limit_max_price" property="limitMaxPrice" />
        <result column="limit_no" property="limitNo" />
        <result column="limit_phone" property="limitPhone" />
    </resultMap>
    <update id="setNullbyId">

        update

        biz_lucky_rule
        <set>

        <if test="rule.limitMinPrice==null">
            limit_min_price= null,
        </if>
        <if test="rule.limitMaxPrice==null">
            limit_max_price=null
        </if>
        </set>
        where id=#{id}

    </update>
    <update id="updateMenuAndBlacklist">
        update
        biz_lucky_rule
        <set>
            <if test="map.haveMenu!=null">
                have_menu=#{map.haveMenu},
            </if>
            <if test="map.haveBlacklist!=null">
                have_blacklist=#{map.haveBlacklist},
            </if>
            <if test="map.limitNo!=null">
                limit_no=#{map.limitNo},
            </if>
        </set>
        where id=#{map.ruleId}
    </update>

    <select id="searchByDate" resultType="com.le.base.entity.LuckyRule">
        SELECT
            id,
            limit_begin_date,
            limit_end_date,
            begin_date,
            end_date,
            limit_min_price,
            limit_max_price,
            limit_no,
            limit_phone,
            have_menu,
            name,
            have_blacklist
        FROM
            biz_lucky_rule
        WHERE
          #{nowDate}
        BETWEEN
          begin_date
        AND
          end_date
    </select>
    <select id="selectActivityByTime" resultType="com.le.base.entity.LuckyRule">
        select name from biz_lucky_rule where
        (begin_date>=#{map.startTime} and  begin_date &lt;=#{map.endTime}
        <if test="map.id!=null">
         and  id !=#{map.id}
        </if>
        )

        or
        (end_date>=#{map.startTime} and end_date &lt;=#{map.endTime}
        <if test="map.id!=null">
            and  id !=#{map.id}
        </if>
        )
        or(begin_date&lt;=#{map.startTime}and end_date>=#{map.endTime}
        <if test="map.id!=null">
            and id !=#{map.id}
        </if>
        )



    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_date, modify_date,
        limit_begin_date, limit_end_date, begin_date, end_date, limit_min_price, limit_max_price, limit_no, limit_phone
    </sql>
</mapper>
