<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.base.mapper.LuckyRuleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.le.base.entity.LuckyRule">
        <result column="id" property="id" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="limit_begin_date" property="limitBeginDate" />
        <result column="limit_end_date" property="limitEndDate" />
        <result column="begin_date" property="beginDate" />
        <result column="end_date" property="endDate" />
        <result column="limit_min_price" property="limitMinPrice" />
        <result column="limit_max_price" property="limitMaxPrice" />
        <result column="limit_no" property="limitNo" />
        <result column="limit_phone" property="limitPhone" />
    </resultMap>

    <select id="searchByDate" resultType="com.le.base.entity.LuckyRule">
        SELECT
            id,
            limit_begin_date,
            limit_end_date,
            begin_date,
            end_date,
            limit_min_price,
            limit_max_price,
            limit_no,
            limit_phone
        FROM
            biz_lucky_rule
        WHERE
          #{nowDate}
        BETWEEN
          begin_date
        AND
          end_date
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_date, modify_date,
        limit_begin_date, limit_end_date, begin_date, end_date, limit_min_price, limit_max_price, limit_no, limit_phone
    </sql>
</mapper>
